# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

.github/
/assets/css/build/
/assets/css/core/
/assets/css/resources/
/assets/css/scss/_archive/
/assets/fonts/
/assets/js/build/
/assets/img/

# Ignore the following files and directories 
/dish-live.code-workspace
/wp-content/upgrade/
/wp-content/themes/basecamp_1/
/wp-content/themes/dish/_archive/
/wp-content/themes/basecamp/languages/
/wp-content/themes/basecamp/library/
/wp-content/themes/basecamp/inc/development/
/wp-content/themes/basecamp/inc/woocommerce/

#/wp-content/plugins/dish-events/
#/wp-content/themes/dish/dish-events/
/wp-content/themes/dish/Docs/

/wp-content/themes/dish/inc/admin/assets/scss/

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/

# Uploads
/wp-content/uploads/

# Log files
*.log
*.DS_Store
/repomix-output.json

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes