/* Global Footers
---------------------------------------------- */
.global-footer{
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #f7f7f7;
    padding: 3rem 0 1.5rem;
    margin-top: 3.5vh;
    content-visibility: auto;
    background-color: #191919;
    }

/* Footer Branding
---------------------------------------------- */
.footer-logo{
    height: 200px;
    margin: 1rem auto;
    width: 200px;
    background-size: contain;
    background-position: top center;
    background-image: url('/assets/img/logos/dish-full-thin.svg');
    mix-blend-mode: difference;
    }


/* Footer Structure
---------------------------------------------- */
.footer-menu{
    margin: 1rem 0 0;
    padding: 0;
    list-style: none;
    font-size: .875rem;

    li{
        margin-bottom: .1rem
    }
    a{
        display: block;
        padding: .2rem 0;
    }
    column-count: 2;
}

// re-order template areas for different screen sizes
.footer-grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
     "footer-logo footer-logo"
     "footer-menu-about footer-menu-about"
     "footer-menu-mains footer-menu-mains"
     "footer-menu-apps footer-menu-apps"
     "footer-oven footer-oven"
     "footer-resto footer-resto"
}
.footer-area{
    margin: 0 0 .5rem 0;
    border-bottom: 1px solid #4b4b4b;
    padding-bottom: 1.5rem;
}

.footer-span-1{
    grid-area: footer-logo;
}
.footer-span-2{
    grid-area: footer-menu-about;
}
.footer-span-3{
    grid-area: footer-menu-mains;
}
.footer-span-4{
    grid-area: footer-menu-apps;
}
.footer-span-5{
    grid-area: footer-oven;
}
.footer-span-6{
    grid-area: footer-resto;
}

.footer--subtitle {
    font-size: clamp( 1.1rem, 3vw, 1.5rem );
}

.copyright{ font-size: .75rem; margin-bottom: 0; padding: 2rem 0 0rem; text-align: center; }


/* Footer Type
---------------------------------------------- */
.footer-lists{
    margin-bottom: 2rem;
    a{
        display: block;
        padding: .2rem;
        }
    }

.footer-area .is--flex-list{
    margin-bottom: 1rem;
}

.js-BackToTop{
    position: absolute;
    bottom: 0;
    right: 0;
    }

/* Min width 480px
---------------------------------------------- */
@mixin bp-480() { 
    // min-width: 30em
}

/* Min width 600px
---------------------------------------------- */
@mixin bp-600() { 
    // min-width: 37.5em
    .footer-grid{
        grid-template-areas:
        "footer-logo footer-logo"
        "footer-menu-about footer-menu-about"
        "footer-menu-mains footer-menu-apps"
        "footer-oven footer-resto"
    }
    .footer-menu{
        column-count: 1;
        }
    .footer-area:nth-last-child(-n+2){
        border-bottom: none;
        }
}

/* Min width 768px
---------------------------------------------- */
@mixin bp-768() { 

    // min-width: 48em

    /* Footer Structure
    ---------------------------------------------- */
    .footer-grid{
        grid-template-areas:
        "footer-logo footer-menu-about"
        "footer-menu-mains footer-menu-apps"
        "footer-oven footer-resto"
    }
    .footer-area{
        margin: 0;
        }
    .footer-span-1{
        border-bottom: 1px solid #4b4b4b;
    }

}

/* Min width 920px
---------------------------------------------- */
@mixin bp-920() { 
    // min-width: 57.5em
}

/* Min width 1024px
---------------------------------------------- */
@mixin bp-1024() { 

    // min-width: 64em

    /* Footer Structure
    ---------------------------------------------- */
    .footer-grid{
        grid-template-areas:
        "footer-logo footer-menu-about footer-menu-mains"
        "footer-menu-apps footer-oven footer-resto"
        
    }
    .footer-logo{
        height: 136px;
        margin: 1rem 0;
        width: 131px;
        }
    
    .footer-area:nth-child(n+4){
        border-bottom: none;
        }

}

/* Min width 1280px
---------------------------------------------- */
@mixin bp-1280() { 

    // min-width: 80em
    
    /* Footer Branding
    ---------------------------------------------- */
    .brand-footer{
        font-size: .875rem;
        }

    .global-footer{
        margin-top: 4rem;
        }
    
        /* Footer Structure
    ---------------------------------------------- */
    .footer-grid{
        grid-template-areas:
            "footer-logo footer-menu-about footer-menu-mains footer-menu-apps footer-oven footer-resto"
        }

    .footer-logo{
        height: 100px;
        margin: 0 0;
        width: 104px;
        }
    .footer-area, .footer-span-1{
        border-bottom: none;
        }
        
}

/* Min width 1440px
---------------------------------------------- */
@mixin bp-1440() { 
    // min-width: 90em

}

/* Min width 1600px
---------------------------------------------- */
@mixin bp-1600() { 

    // min-width: 100em
    
    /* Footer Structure
    ---------------------------------------------- */
    .footer-logo{
        height: 120px;
        margin: 0 0 1rem;
        width: 124px;
        }
}

/* Min width 2100px
---------------------------------------------- */
@mixin bp-2100() { 
    // min-width: 131.25em

    .footer-logo{
        height: 140px;
        margin: 1rem 0;
        width: 144px;
        }
    
}