
 /* $ Global Navigation - Small screen header and large screen header 
====================================================================== */

/* Small screen Menu Controls
---------------------------------------------- */
// hamburger
.menu-trigger { 
    color: initial; 
    height: 50px; 
    margin: 10px 0; 
    width: 50px;
    position: absolute;
    right: 15px;
}
.menu-trigger:active, .menu-trigger:focus{ background: transparent; }

.ico{ 
    display: inline-block; 
    text-indent: -999em;
    text-align: left;
    mix-blend-mode: difference;
    }

.i--menu, .i--menu:hover, .i--menu:focus, .i--menu:active {
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20128%20102.4%22%20enable-background%3D%22new%200%200%20128%20102.4%22%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M0%200h128v12.8H0zM0%2044.8h128v12.801H0zM0%2089.601h128v12.8H0z%22/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}
/* Menu Close */
.i--close, .i--close:hover, .i--close:focus {
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIxNiAyMTYiIHZpZXdCb3g9IjAgMCAyMTYgMjE2Ij48cGF0aCBkPSJNMjA1LjIgMjE1LjEgMTA4IDExNy45bC05Ny4yIDk3LjItOS45LTkuOUw5OC4xIDEwOCAuOSAxMC44IDEwLjguOSAxMDggOTguMSAyMDUuMi45bDkuOSA5LjktOTcuMiA5Ny4yIDk3LjIgOTcuMi05LjkgOS45eiIgc3R5bGU9ImZpbGw6I2ZmZiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: center;
}

// close icon
.global-header--ss .i--menu{ background-size: 80% auto; height: 45px; width: 45px; }
.global-header--ss .i--close{ background-size: 65% auto; height: 45px; width: 45px; }


/* Main global Navigation
---------------------------------------------- */
.menu-logo{
    display: none;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;

    height: 0;
    left: 2%;
    position: absolute;
    width: 45px;
    opacity: 0; 
}

.brand-header a{
    color: #454545;

    &:hover, &:focus{
        background-color: #fff;
        color: #ff7824;
        }
    &:active{
        background-color: #fff;
    }
    &.menu--selected{
        background-color: #fff;
        color: #ff7824;
    }
    &.is--logo:hover, &.is--logo:focus {
        background-color: transparent;
    }
}

// Main global Navigation
.navigation-global{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    transition: font-size 300ms;
    font-size: 1.2rem;

    li{
        margin: 0;
        padding: 0;
        }
    a {
        display: block;
        padding: .7rem 5%;
        text-decoration: none;
        border-bottom: 1px solid #d2d2d2;
    }
}


/* Utility Menu
---------------------------------------------- */
.utility-menu {
    line-height: normal;
    list-style-type: none;
    margin: 0 0;
    padding: 0;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    font-size: .95rem;

    li{
        margin: 0;
    }

    a{
        display: block;
        padding: .8rem 1rem;
        text-align: center;
        text-decoration: none;
        border-right: 1px solid #d2d2d2;
        border-bottom: 1px solid transparent;
    }
    li:last-child a{
        border-right: none;
    }
}
.store-hours {
    border-top: 1px solid #ddd;
    padding: .8rem 0 0 5%;
}

/* Min width 480px
---------------------------------------------- */
@mixin bp-480() { 

}

/* Min width 600px
---------------------------------------------- */
@mixin bp-600() { 
    // min-width: 37.5em
    
}

/* Min width 768px
---------------------------------------------- */
@mixin bp-768() { 
    // min-width: 48em

    

}

/* Min width 920px
---------------------------------------------- */
@mixin bp-920() { 
    // min-width: 57.5em

}

/* Min width 1024px
---------------------------------------------- */
@mixin bp-1024() { 
    .navigation-global{
        border-bottom: 0 none;
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        // margin-bottom: 1px;

        a {
            padding: .8rem .9rem;

        }
        li a{
            border-bottom: 2px solid transparent;
        }
        a:hover, a:focus, a.menu--selected{ 
            border-bottom: 2px solid #d2d2d2;
            background-color: transparent;
        }
        
    }

    /* Utility Menu
    ---------------------------------------------- */
    .utility-menu {
        display: flex;
        overflow: hidden;
        text-align: right;
        justify-content: flex-end;

        li{
            margin-right: .9rem;
        }

        li:last-child{ margin-right: 0; }

        a{
            padding: .3rem 0;
            text-decoration: underline;
            border-right: 0 none;
            border-bottom: 0 none;
            &.menu--selected{
                text-decoration: none;
                background-color: transparent;
            }
        }
        a:hover, a:focus{
            background-color: transparent;
            text-decoration: none;
        }
    }
    .store-hours, .utility-menu--account {
        font-size: .875rem;
        padding: .8rem 0 0 0;
        position: absolute;
        right: 0;
        top: 100%;
        border-top: 0 none;
    }
}

/* Min width 1280px
---------------------------------------------- */
@mixin bp-1280() { 
    // min-width: 80em

}

/* Min width 1440px
---------------------------------------------- */
@mixin bp-1440() { 

}

/* Min width 1600px
---------------------------------------------- */
@mixin bp-1600() { 

}

/* Min width 2100px
---------------------------------------------- */
@mixin bp-2100() { 
    // min-width: 131.25em

}

