
 /* $ Reusable Simple Grid setup 
====================================================================== */
// 1 column up to 3 columns
.grid-general:not(.hide-text, .heading){
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1.3rem;
    //content-visibility: auto;
}

// modifier template classes - mobile first, columns are added as the screen size increases
.grid--2col{
    grid-template-columns: repeat(1, 1fr);
}
.grid--3col{
    grid-template-columns: repeat(1, 1fr);
}
.grid--4col{
    grid-template-columns: repeat(1, 1fr);
}
// .news--grid{
//     grid-template-columns: repeat(1, 1fr);
// }

// tighten up the gap in the grid
.grid-general:not(.hide-text).tight--grid{
    grid-column-gap: 0;
    grid-row-gap: 5px;
}
.grid--item{
    overflow: hidden;
}

// related tweak
.related--wrap{
    padding-top: 3vh;
    margin-top: 4vh;
}

// general card styles
.card--item{
    text-transform: uppercase;

    picture{ display: block;}
}
.card--img{
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
}
.card--img:hover{
    transform: scale(1.05);
}
.card--caption{
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, .8);

    & :hover{
        color: #fff;
    }
}
.card--link{

    .card--caption{
        font-size: clamp(1.4rem,1.2rem + 2vw,2.2rem);
    }

}

// variables
$anim-speed: 0.3s;

// main styles
.has--excerpt {
    .details{
        overflow: hidden;
        display: none;
    }
}

// card modifier - card with overlay
.has--overlay .card--img{
    transition: all 0.2s ease-in-out;
    filter: sepia(100%) hue-rotate(190deg) saturate(300%);
}
.has--overlay .card--img:hover{
    filter: none
}

/* Min width 480px
---------------------------------------------- */
@mixin bp-480() { 

}

/* Min width 600px
---------------------------------------------- */
@mixin bp-600() { 
    // min-width: 37.5em
    
}

/* Min width 768px
---------------------------------------------- */
@mixin bp-768() { 
    // min-width: 48em

    .grid--4col{
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Min width 920px
---------------------------------------------- */
@mixin bp-920() { 
    // min-width: 57.5em

    .grid--2col{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid--3col{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-general:not(.hide-text).tight--grid{
        //gap: 1px 2px;
        grid-column-gap: 3px;
        grid-row-gap: 3px;
    }

}

/* Min width 1024px
---------------------------------------------- */
@mixin bp-1024() { 

}

/* Min width 1280px
---------------------------------------------- */
@mixin bp-1280() { 
    // min-width: 80em

    .grid-general:not(.hide-text){
        gap: 0.5rem 1rem;
    }

    .grid--3col{
        grid-template-columns: repeat(3, 1fr);
    }
    .grid--4col{
        grid-template-columns: repeat(4, 1fr);
    }
    
.has--excerpt {
    display: block;
    opacity: .99;
    overflow: hidden;
    position: relative;

    .card--excerpt{
        color: #fff;
        padding: 0 .3rem;
        text-align: center;
    }
    img{
        backface-visibility: hidden;
    }
    
    &:before {
        content: '';
        background: linear-gradient(
            to bottom,rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%
        );
        width: 100%;
        height: 50%;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        transition-property: top, opacity;
        transition-duration: $anim-speed;
    }
    
    .details {
        padding: 1rem 5% 2rem;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        
        .info {
            font-size: clamp(1rem, calc(1rem + 1vw), 1.2rem);
            text-transform: none;
            opacity: 0;
            position: relative;
            top: 100px;
            transition-property: top, opacity;
            transition-duration: $anim-speed;
            transition-delay: 0s;
        }
        .title {
            line-height: 1;
            font-weight: 600;
            font-size: 18px;
        }
    }
    
    &:focus, &:hover {
        
        &:before, .info {
            opacity: 1;
        }
        .card--img {
            transform: scale(1.05);
        }
        
        &:before {
            top: 50%;
        }
        
        .info {
            top: 0;
            transition-delay: 0.25s;
        }
        
        .title {
            transition-delay: 0.15s;
        }
    }
}

}

/* Min width 1440px
---------------------------------------------- */
@mixin bp-1440() { 

}

/* Min width 1600px
---------------------------------------------- */
@mixin bp-1600() { 

}

/* Min width 2100px
---------------------------------------------- */
@mixin bp-2100() { 
    // min-width: 131.25em

    .grid--3col{
        grid-template-columns: repeat(5, 1fr);
    }

}

// .grid--2col{
//     grid-template-columns: repeat(2, 1fr);
// }

// .grid--4col{
//     grid-template-columns: repeat(4, 1fr);
// }
// .grid--5col{
//     grid-template-columns: repeat(5, 1fr);
// }

