
 /* $ Heros 
====================================================================== */
/* Hero structure */
.global--hero{
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    height: 100vh;
    max-height: 100vh;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.3);
    color: #fff;
    box-sizing: content-box;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    overflow: hidden;

    /* Text block inside hero */
    .hero--text-block{
        z-index: 5;
        width: 100%;
        height: 100%;
        text-align: center;
        display: grid;
        align-items: center;
    }
    .hero--wrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    }
    picture{ width: 100%; }
    .hero--img{ 
        height: 100vh;
        object-fit: cover;
        object-position: center;
    }
    // text wrapper
    .hero--cta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
    }
    .hero--content{
        margin-bottom: 2rem;
    }
    p{
        font-size: .9rem;
        margin: 0 auto;
        width: 80%;
    }
    // .hero--excerpt{
    //     font-size: clamp( 1rem, 2vw, 1.25rem );
    //     line-height: 1.5;
    //     margin-bottom: 2rem;
    //     text-shadow: 1px 3px 5px rgba(0,0,0,0.74);
    //     text-align: center;
    // }
    
}

/* Primary Hero heading - used on full screen images and sliders */
.hero--heading{
    font-size: clamp(2.6rem, calc(3rem + 1vw), 6.5rem);
    line-height: 1.1;
    letter-spacing: -1px;
    color: #fff;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, .9);
    font-weight: 700;
    width: 85%;
    margin: 0 auto;
}

// Hero structure for pages with feature content - smaller hero with text overlaid on the image, used on article pages and event pages
.has--feature-content{

    .hero-feature--content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        z-index: 2;
        
    }
    .hero-title{
        font-size: clamp(1.1rem, calc(1.4rem + 1vw), 2.4rem);
        letter-spacing: -.2rem;
        line-height: 1.35;
        margin-bottom: 1.5rem;
        text-shadow: 1px 3px 5px rgba(0,0,0,0.74);
        font-weight: 700;
        color: #fff;
    }
    .hero-excerpt{
        font-size: clamp( 1rem, 2vw, 1.25rem );
        line-height: 1.5;
        margin-bottom: 2rem;
        text-shadow: 1px 3px 5px rgba(0,0,0,0.74);
        text-align: center;
    }
    
}

.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    z-index: 2;
}

.spotlight-wrapper{
    background-color: #f9fafb;

    &.full--width{
        padding-left: 2%;
        padding-right: 2%;
    }

    .spotlight--content{
        padding: 3rem 5% 0 3%;
    }
    .section-heading{
        margin-bottom: 1.6rem;
    }

    .dish-format-pill{
        margin-bottom: .7rem;
    }

    .grid-general{
        gap: .5rem 2rem;
    }

    .region{
        padding-bottom: 1.5rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #eee;
    }
    .region:last-child{
        border-bottom: 0 none;
        margin-bottom: 0;
        padding-bottom: 0;  
    }
    .spotlight-meta{
        font-weight: 600;
    }
    .spotlight-actions{
        margin-bottom: 1.3rem;
    }
}




/* Min width 480px
---------------------------------------------- */
@mixin bp-480() { 

}

/* Min width 600px
---------------------------------------------- */
@mixin bp-600() { 
    // min-width: 37.5em
    
}

/* Min width 768px
---------------------------------------------- */
@mixin bp-768() { 
    // min-width: 48em

}

/* Min width 920px
---------------------------------------------- */
@mixin bp-920() { 
    // min-width: 57.5em

}

/* Min width 1024px
---------------------------------------------- */
@mixin bp-1024() { 
    // min-width: 64em

    .hero{
        max-height: 35vh;

        // .size-basecamp-img-xl{
        //     max-height: 400px;
        // }
    }
    .global--hero{
        height: 40vh;
        max-height: 40vh;

        // .hero--text-block{
        //     position: absolute;
        //     top: 17vh;
        // }
        .hero--img{ 
            height: 100%;
        }
    }

    .spotlight-wrapper{
        .region{
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0 none;
        }
    }

}

/* Min width 1280px
---------------------------------------------- */
@mixin bp-1280() { 
    // min-width: 80em
    // .hero--heading{
    //     font-weight: bold;
    // }

    .spotlight-wrapper{
        .region{
            padding-left: .7rem;
            padding-right: .7rem;
        }
    }
}

/* Min width 1440px
---------------------------------------------- */
@mixin bp-1440() { 

}

/* Min width 1600px
---------------------------------------------- */
@mixin bp-1600() { 

}

/* Min width 2100px
---------------------------------------------- */
@mixin bp-2100() { 
    // min-width: 131.25em

}

