/* General Typography - Headings - Links
====================================================================== */
/* pulled in to: website-setup.scss */


/* Headings
---------------------------------------------- */
:where(h1, h2, h3, h4, h5, h6) {
    margin: 0 0 1vh 0;
    text-wrap: balance;
    color: #444;
    line-height: 1.3;
}
  
/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Edge, Firefox, and Safari.
*/
// :where(h1) {
//     font-size: clamp( 1.75rem, 4vw, 3.5rem );
//     letter-spacing: -.12rem;
//     color: #444;
//     line-height: 1.35;
//     margin-bottom: 4vh;
// }
// :where(h2) {
//     font-size: clamp( 1.35rem, 4vw, 2.5rem );
//     letter-spacing: -.12rem;
//     color: #444;
//     line-height: 1.2;
// }
// :where(h3):not(.footer--subtitle) {
//     font-size: clamp( 1.35rem, 3vw, 2rem );
//     letter-spacing: -.1rem;
//     color: #777
// }

/* Links
---------------------------------------------- */
:where(a) {
    color: #ff7824;
}
.dish-calendar a, .subnav a{ color: inherit; }
:where(a:hover) {
    outline: none;
    text-decoration: none;
}
:where(a:focus) {
    outline: none;
}
:where(a:active) {
    color: inherit;
    outline: none;
}
:is(a.menu--selected){
    color: #ff7824;
}

/** HEADING LINKS **/
:where(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

:where(h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus) {
    text-decoration: underline;
}

/* Call out colour - if needed */
:where(.cc){ 
	color: #ff7824;
}
:where(.cc:hover){ text-decoration: none; }
:where(.cc:focus){ outline: none; text-decoration: underline; }

/* Cursors 
---------------------------------------------- */
:where(label, select, .pointer, button, [type=button], [type=reset], [type=color], [type=submit], [type=file], [type=date], [type=time], [type=checkbox], [type=radio], [type=range], [role=button], .submit) {
    cursor: pointer;
}


/**
* 1. Correct the inheritance of border color in Firefox.
* 2. Add the correct box sizing in Firefox.
*/

:where(hr) {
    color: inherit; /* 1 */
    height: 0; /* 2 */
    margin: 1.5vh 0;
    border: 0;
    border-top: 1px solid;
    clear: both;
    overflow: hidden;
}

/** GENERAL **/
:where(p) {
    margin: 0 0 2vh;
    //word-spacing: .3ch;
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
:where(b, strong, legend) {
    font-weight: bolder;
}
// :where(th, thead) {
//     font-family: $font-reg;
//     font-weight: normal;
// }
:where(em, i, dfn, cite, caption, q){ font-style: italic; }

/* shared type styles */
:where(q) { quotes: "\201C" "\201D" "\2018" "\2019"; }

/* blockquotes */
:where(blockquote) {
    line-height: 1.3;
    margin: 0 0 0.2rem;
    padding: 0 2rem 0.2rem 0;
}

:where(blockquote p) {
    margin-top: 0;
    margin-bottom: 0.4rem;
}

/* :where(){} */
:where(address) {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

/**
* Add the correct font size in all browsers.
*/
:where(small, sup, sub){ font-size: 80%; }
:where(sup, sub){ font-size: 80%; line-height: 0; }
:where(sup){ vertical-align: super; }
:where(sub){ vertical-align: sub; }

:where(abbr, acronym){ 
    font-size: 85%;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

/**
* Add the correct text decoration in Safari.
*/
:where(abbr[title], acronym[title], dfn[title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

:where(mark) {
    background: none;
}