
 /* $ Article Content - WP entry content 
====================================================================== */

.inner--content .entry--content{
    
    h2{
        margin-bottom: 1.3rem;
        overflow: hidden;
        clear: both;
        font-size: clamp(1.2rem, calc(1.5rem + 1vw), 2.4rem);
        letter-spacing: -.12rem;
        line-height: 1.3;
    }
    h3{
        margin-bottom: .75rem;
        overflow: hidden;
        clear: both;
        font-size: clamp(1.2rem, calc(1.5rem + 1vw), 1.8rem);
        letter-spacing: -.1rem;
        line-height: 1.3;
    }
    p + h3{
        margin-top: 1.2rem;
    }
}

.entry--blurb{
    h2{
        margin-bottom: 1.3rem;
        font-size: clamp(1.2rem, calc(1.5rem + 1vw), 2.2rem);
        line-height: 1.3;
    }
}

.entry--content{

    line-height: 1.5; 

    .alignleft{
        max-width: 100%;
        height: auto;
    }
    .alignright{
        max-width: 100%;
        height: auto;
    }
    blockquote{
        border-left: 4px solid #7f54b3;
        padding-left: 1rem;
        margin-left: 2rem;
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}

body:not(.page--calendar) .entry-content{
    a{
        color: #ff7824;
    }
}

// .contact--wrap{
    
    
// }
.contact--info{
    // border-left: 1px solid #f58226;
    padding-left: 1rem;

    .contact--wrap{
        margin-top: 1rem;
    }
    .contact--socials{
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
.contact--in-person p{
    margin-bottom: 0;
}

.general--img{
    margin-bottom: 1.5rem;
    display: block;
    padding: 2px;
    border: 1px solid #eee;
    object-fit: cover;
    object-position: center;
}

/* Min width 480px
---------------------------------------------- */
@mixin bp-480() { 

}

/* Min width 600px
---------------------------------------------- */
@mixin bp-600() { 
    // min-width: 37.5em
    
}

/* Min width 768px
---------------------------------------------- */
@mixin bp-768() { 
    // min-width: 48em

}

/* Min width 920px
---------------------------------------------- */
@mixin bp-920() { 
    // min-width: 57.5em

}

/* Min width 1024px
---------------------------------------------- */
@mixin bp-1024() { 

    .entry--content{

        // line-height: 1.5;

        .alignleft{
            float: left;
            margin: 0 1.5rem 1.5rem 0;
            width: 35%;
        }
        .alignright{
            float: right;
            margin: 0 0 1.5rem 1.5rem;
            width: 35%;
        }
    }

    .contact--info{
        padding-left: 3rem;

        .contact--wrap{
            margin-top: 2rem;
        }
    }
}

/* Min width 1280px
---------------------------------------------- */
@mixin bp-1280() { 
    // min-width: 80em

}

/* Min width 1440px
---------------------------------------------- */
@mixin bp-1440() { 

}

/* Min width 1600px
---------------------------------------------- */
@mixin bp-1600() { 

}

/* Min width 2100px
---------------------------------------------- */
@mixin bp-2100() { 
    // min-width: 131.25em

}

