/* Cards layouts
---------------------------------------------- */

/* Layout with a Featured Flag */
// .has--featured-card {
    
// }
.is--featured-card {
    border-bottom: 1px solid #fed5b4;
    margin-bottom: 6vh;
    padding-bottom: 1.5rem;

    .feature-card--title{
        font-size: clamp(1.2rem, calc(1.2rem + 1vw), 1.6rem);
        line-height: 1.3;
        margin-bottom: 1.3rem;
        padding: 0;
        text-wrap: unset;
    }

    .feature-card--excerpt{
        margin-bottom: 1.6rem;
        padding: 0;
    }

    .grid-general{
        margin-bottom: 0;
    }

}
.featured--label{
    //color: #813C06;
    color: #3c054f;
    //font-weight: 600;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    font-weight: normal;
}

// .is--featured-content{
// }

.card--wrapper{
    margin-bottom: 3rem;
    overflow: hidden;
}
.feature-card--img{ 
    display: block;
    margin-bottom: 1.2rem;
    //box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    
}
.news--imgs{
    width: 100%;
    height: auto;
    border: 1px solid #612611;
    padding: 1px;
}

.feature-card--title{
    font-size: clamp(1.2rem, calc(1.2rem + 1vw), 1.4rem);
    line-height: 1.2;
    margin-bottom: 1rem;
    padding: 0 .3rem;
}

.feature-card--excerpt{
    font-size: clamp(1rem, calc(1rem + 1vw), 1.2rem);
    line-height: 1.4;
    margin-bottom: 1rem;
    padding: 0 .3rem;
}
.feature-card--excerpt-sm{
    font-size: clamp(1rem, calc(1rem + 1vw), 1.1rem);
    line-height: 1.4;
    margin-bottom: 1rem;
    padding: 0 .3rem;
}

.has--label{
    position: absolute;
    top: 1px;
    left: 1px;
    background: #fff;
    color: #187387;
    padding: .6rem .9rem;
    font-size: .75rem;
}

.feature-card--meta{
    font-size: .875rem;
    padding: 0 .3rem;
}

/* Our Story Section
---------------------------------------------- */
.our-story--section1{
    padding-bottom: 3vh;
}

.our-story--feature{

    .is--featured-content{
        padding-left: 0;
    }

    h3{
        font-size: clamp(1.4rem, calc(1.4rem + 1vw), 2rem);
        line-height: 1.2;
        margin-bottom: 1.3rem;
    }
    p{
        font-size: clamp(1rem, calc(1rem + 1vw), 1.2rem);
        line-height: 1.4;
        margin-bottom: 1.6rem;
    }
}

.is--promo{
    padding: 1rem 1rem 1.5rem;
}

/* Our Story Leaders Modifiers */
.our-story--leaders{
    background-color: #fff;
    color: #187387;
    padding-top: 2rem;
    padding-bottom: .5rem;
    text-align: center;
}
.team--member{
    
    .team--name{
        margin-bottom: .1rem;
    }
    .team--title{
        margin-bottom: .1rem;
    }
}
.team--img{
    display: inline-block;
    width: 80%;
    margin: 0 auto 1rem;
    border: 1px solid #f58226;
    border-radius: 50%;
    //box-shadow: 0 1px 40px rgba(0, 0, 0, .9);
    box-shadow: 2px 4px 9px -1px rgba(0,0,0,0.35);
}

.section--blockquote{
    background: #f58226;
    background: linear-gradient(360deg,rgba(241, 90, 34, 1) 0%, rgba(245, 130, 39, 0) 100%);
    padding-bottom: 4vh;
}
.blockquote--feature{
    display: block;
    margin: 2rem auto 0;
    font-size: clamp(1.4rem, calc(1.4rem + 1vw), 2rem);
    width: 80%;
    padding: 4vh 0 4vh;
    line-height: 1.1;
    text-shadow: 0 8px 12px rgba(0, 0, 0, .9);
}
.blockquote--feature::after{
    content: " - Meeta Ingram, Founder & President";
    display: block;
    margin: 1rem auto 0;
    font-size: 1rem;
}

/* Min width 480px
---------------------------------------------- */
@mixin bp-480() { 
    // min-width: 30em;
}

/* Min width 600px
---------------------------------------------- */
@mixin bp-600() { 
    // min-width: 37.5em;
}

/* Min width 768px
---------------------------------------------- */
@mixin bp-768() { 
    // min-width: 48em;
}

/* Min width 920px
---------------------------------------------- */
@mixin bp-920() { 
    // min-width: 57.5em;
}

/* Min width 1024px
---------------------------------------------- */
@mixin bp-1024() { 
    // min-width: 64em;
    
    .is--featured-content{
        padding: 2rem 2rem 0;
    }

    .team--img{
        width: 60%;
        margin: 0 auto .7rem;
    }

}

/* Min width 1280px
---------------------------------------------- */
@mixin bp-1280() { 
    // min-width: 80em;
    
    .featured--label{
        font-size: 1.2rem;
    }

    .blockquote--feature{
        width: 75%;
    }

}

/* Min width 1440px
---------------------------------------------- */
@mixin bp-1440() { 
    // min-width: 90em;
}

/* Min width 1600px
---------------------------------------------- */
@mixin bp-1600() { 
    // min-width: 100em;
}

/* Min width 2100px
---------------------------------------------- */
@mixin bp-2100() { 
    // min-width: 131.25em;
}
