/* General Icon selector
---------------------------------------------- */
.ico{ 
    display: inline-block; 
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -999em;
    text-align: left;
    }


/* General inline selector
---------------------------------------------- */
.i-inline{
    position: relative;
    background-repeat: no-repeat;
    background-size: auto 80%;
    display: inline-block;
}


