/* Small screen functionality
---------------------------------------------- */
.no-js .global-header--ss {
    display: none;
  }
  
  .enhanced .global-header {
    top: 70px;
  }
  .enhanced .brand-fs {
    display: none;
  }
  .enhanced .is--fixed {
    position: fixed;
  }

/* Global Headers
---------------------------------------------- */
.global-header, .global-header--ss {
    line-height: 1.15;
    z-index: 8;
  }
  
  .global-header--ss {
    min-height: 70px;
    top: 0;
    display: flex;
  }
  .global-header--ss.is--sticky {
    background-color: #02101e;
        opacity: .95;
  }
  
  .global-header {
    overflow: visible;
    transform: translateZ(0);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

    .fluid{
        padding: 0 0;
    }
  }
  
  .global-header[data-nav-slide] {
    transform: translateZ(0);
    transition: all 0.3s ease;
  }
  
  .brand-header {
    height: auto;
    transition: all 0.6s ease;
    order: 2;
  }
  
  .navigation-global {
    order: 1;
  }

/* Do stuff when the header sticks
---------------------------------------------- */
.enhanced .is--sticky {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.45);
  }
  
  /* Global Header Inner structure
---------------------------------------------- */
@keyframes flip {
    0% { transform: perspective(400px) rotateY(0); }
    100% { transform: perspective(400px) rotateY(360deg); }
}

  .brand {
    background-repeat: no-repeat;
    line-height: 1;
    position: relative;
    overflow: hidden;
    text-indent: -9999em;

    //background-image: url('/assets/img/logos/mi.svg');

    animation-name: flip;
    animation-duration: .7s;
    animation-timing-function: ease-in;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    z-index: 15;
  }
  
  .brand-ss {
    background-position: 50% 0;
    background-size: auto 49px;
    height: 60px;
    margin: 10px 0 0 10px;
    width: 60px;
  }
  
  .brand-fs {
    background-position: 50% 0;
    background-size: auto 72px;
    margin-bottom: 0;
  }
  
  .brand-fs .is--logo {
    min-height: 50px;
    display: block;
    border: 1px solid transparent;
    padding: 1px;
  }
  
  .is--logo:focus {
    background-color: transparent;
    border: 1px solid;
  }
  
  .menu-global {
    width: 100%;
  }
  .menu-global .fluid {
    padding-left: 0;
    padding-right: 0;
  }


/* Min width 480px
---------------------------------------------- */
@mixin bp-480() { 
    // min-width: 30em;
}

/* Min width 600px
---------------------------------------------- */
@mixin bp-600() { 
    // min-width: 37.5em;
}

/* Min width 768px
---------------------------------------------- */
@mixin bp-768() {
    // min-width: 48em;

    .enhanced{

        .global-header{
            top: 0;
            display: block;
            }
    
        .brand-fs{ display: block; margin: 15px 25px 15px 0; float:left; }
    
    }

    // Global Menu Wrapper
    .global-header{
        .fluid{ padding-left: 3%; padding-right: 3%; }
    }

    /* Global Headers
    ---------------------------------------------- */
    .global-header--ss{
        display: none;
        }

    .global-header{
        border-bottom: 0 none;
        }

    // global large header
    .brand-header{
        display: block;
        }

    .is--sticky{
        .brand-header.ov{
            overflow: hidden;
        }
        // .brand-header{
        //     height: 0;
        //     padding-top: 0;
        //     padding-bottom: 0;
        // }
        .menu-global{
            padding-top: 7px;
        }

        .brand-fs{ margin: 7px 25px 5px 5px; }
        .brand-fs .is--logo{ min-height: 40px; width: 40px; }
    }
    .enhanced .is--sticky {
        //background-color: #e29a66;
        background-color: #02101e;
        opacity: .75;
    }
    .enhanced .is--sticky:hover {
        opacity: .9;
    }

    /* Global Header Inner structure
    ---------------------------------------------- */
    .brand-fs{
        background-position: 0 0;
        background-size: auto;
        }
    // Block item within wrapper - does all the work
    .brand-fs .is--logo{
        min-height: 50px; width: 50px;
        }

    // Inner header structure
    .menu-global{
        padding-top: 20px;
        border-bottom: 0 none;
        font-size: 1.1rem;
        width: auto;
        display: block;
        padding-left: 2rem;
        text-align: right;
        }
}

/* Min width 920px
---------------------------------------------- */
@mixin bp-920() { 
    // min-width: 57.5em;
}

/* Min width 1024px
---------------------------------------------- */
@mixin bp-1024() { 
    // min-width: 64em;
}

/* Min width 1280px
---------------------------------------------- */
@mixin bp-1280() { 
    // min-width: 80em;
}

/* Min width 1440px
---------------------------------------------- */
@mixin bp-1440() {
    // min-width: 90em;

    // Global Menu Wrapper
    .global-header{
        .fluid{ padding-left: 5%; padding-right: 5%; }
    }

}

/* Min width 1600px
---------------------------------------------- */
@mixin bp-1600() { 
    // min-width: 100em;
}

/* Min width 2100px
---------------------------------------------- */
@mixin bp-2100() { 
    // min-width: 131.25em;
}
