
 /* $ Buttons 
====================================================================== */
.button {
	display: inline-block;
	padding: .5rem 1.25rem;
	text-align: center;
	text-decoration: none;
	//cursor: pointer;
	border: 2px solid transparent;
	transition: background .15s ease, color .15s ease, border-color .15s ease;
    //margin: 0 1rem;
}

.button--primary {
	background: #ff7824;
	color: #fff;
	border-color: #ff7824;
}

.button--primary:hover, .button--primary:focus-visible {
	background: #191919;
	border-color: #191919;
	color: #fff;
}

.hero-buttons .button--primary {
    box-shadow: 4px 5px 7px -1px rgba(0,0,0,0.51);
}
.hero-buttons .button--primary:active {
    box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.51);
}

/* Min width 480px
---------------------------------------------- */
@mixin bp-480() { 

}

/* Min width 600px
---------------------------------------------- */
@mixin bp-600() { 
    // min-width: 37.5em
    
}

/* Min width 768px
---------------------------------------------- */
@mixin bp-768() { 
    // min-width: 48em

}

/* Min width 920px
---------------------------------------------- */
@mixin bp-920() { 
    // min-width: 57.5em

}

/* Min width 1024px
---------------------------------------------- */
@mixin bp-1024() { 

}

/* Min width 1280px
---------------------------------------------- */
@mixin bp-1280() { 
    // min-width: 80em

}

/* Min width 1440px
---------------------------------------------- */
@mixin bp-1440() { 

}

/* Min width 1600px
---------------------------------------------- */
@mixin bp-1600() { 

}

/* Min width 2100px
---------------------------------------------- */
@mixin bp-2100() { 
    // min-width: 131.25em

}

